*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* width: auto; */

}

body{
    background: rgb(210, 255, 201);
    color: rgb(0, 0, 0);
}

.FAndFinca{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}.FAndFinca div{
    display: block;
    justify-content: center;
}
.FAndFinca input{
    width: 90px;
    height: 15px;
}
.FAndFinca select{
    height: 16px;
    width: 90px;
}
/* Evaluador */
.Eval {
    text-align: center;
    position: relative;
}
#evaluador{
    width: 24.4rem;
}

.articleCurva{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 11px;
    padding-left: 0.5rem;
    border: 1px dotted ;
}

#sectionCurva{
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;

}
.articleCurva input{
    width: 80px;
}
.articleCurva #h2Curva{
    position: absolute;
    left: 12%;
}
.sectionColor{
    width: 50%;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: 55%;
    margin: auto;
}
#h2Color{
    position: absolute;
    left: 65%;
}
.Curvap {
    width: 60px;
    text-align: center;

}
.Curvap input{
    width: 77%;
}

.colornp input{
    width: 88%;
    height: px;
}
.colorp{
    /* border: 1px solid; */
    width: 79%;
}
.colorp input{
    width: 70%;

}
.CurvaDate{
    width: 90px;
    
}
.CurvaDate label{
    font-size: 11px;
}

/* Condicon  */
/*
.articleCondicion{
    position: relative;
    left: 49%;
    bottom: 1.9rem;
    width: min-content;
}
 .articleCondicion h2 {
    font-size: 16px;
}
.sectionCondicion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;

}
.sectionCondicion label{
    font-size: 11px;
} 
.porciento{
    display: flex;
}
/* .promediobix{
    position: relative;
    left: 3.2rem;
    bottom: 1.3rem;   
} */

/* .brixPromedio {
    text-align: center;
    width: 33%;

}
.brixPromedio input{
    width: 48px;
}
.articleCondicion h2{
    position: absolute;
    bottom: 95%;
    left: 2%;
} */


.p1, .brixPromedioo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brixPromedioo div {
     justify-content: center;
     text-align: center;
}
.brixPromedioo{
    display: flex;
    justify-content: space-around;
 }
 .brixPromedioo div{
     width: 4.5rem;
     justify-content: center;
 }
 .brixPromedioo div input{
     width: 4rem;
     align-items: center;
 }
 .articleCondicionn{
     border: 2px double rgb(0, 0, 0);
     text-align: center;
 }
/* Defectos */
.articleDefectos{
    position: relative;
    bottom: 2rem;
    width: min-content;
    border: 1px dotted black;
    
    
  
}
.articleDefectos h2{
    font-size: 18px;
}
.defecto{
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min-content;
}
.defecto div{
    text-align: center;
    width: 90px;

}
.defecto input{
    width: 70px;
}
.defecto div{
    border: 1px dotted rgba(53, 221, 199, 0.336);
}
/* .defecto input[type=text]{
    display: none;    OCULTO EL INPUTS DE DEFECTOS
} */





/* naight mode  */

.naight{
    border-radius: 30px;
    
    border: 10x double;
    width: 2rem;
    margin: auto;
    padding: 0.2rem;
    position: fixed;
    top: 6%;
    left: 89%;
    
}
.dark-mode {
    background-color: rgb(48, 46, 46) !important;
    color: rgb(255, 255, 255) !important;
}
.promediobix{
    font-weight: 300;
     color: rgb(39, 39, 39);
     border: 2px double;
     width: auto;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 28
}
